{#####################}
{### ELEMENT BLOCK ###}
{#####################}

<div class="element post-body">
    <span class="element-title">
        {{- next_url(post.path, post.title or __('post.untitled'), {class: 'post-title-link', itemprop: 'url'}) }}
    </span>
    <span class="element-description">{{ post.desc }}</span>
</div>