{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ title }}{% if theme.index_with_subtitle and subtitle %} - {{ subtitle }}{% endif %}{% endblock %}

{% block class %}index posts-expand{% endblock %}

{% block content %}

  {%- for post in page.posts.toArray() %}
    {%- if post.pin %}
      {{ partial('_macro/post.njk', {post: post, is_index: true}) }}
    {%- endif %}
  {%- endfor %}

  {%- set lastcap = '0' %}
  <div class="post-block">
  {%- for post in page.posts.toArray() | sort(attribute='title') %}
    {%- if post.title and (not post.pin) %}
      {%- set cap = post.title | first | upper %}
      {%- if cap !== lastcap %}
        {%- set lastcap = cap %}
        {{ partial('_macro/capital.njk', {cap: cap}) }}
      {%- endif %}
      {{ partial('_macro/element.njk', {post: post, is_index: true}) }}
    {%- endif %}
  {%- endfor %}
  </div>

  {%- include '_partials/pagination.njk' -%}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
